.text-type {
  display: inline-flex;
  align-items: center;
}

.text-type__content {
  display: inline;
}

.text-type__cursor {
  display: inline-block;
  margin-left: 2px;
  font-weight: 100;
}

.text-type__cursor--hidden {
  opacity: 0;
}
